
<nav style="width:100%; bottom: 0; top: auto;position: fixed;  z-index: 10000;  right:0;background-color: #333333;height:30px;padding-top:5px">
    <nav class="navigation-bar-content">
        <div style="float:right;margin-right:30px">
            <a href="/" style="font-weight:bold;font-size:15px;">Developed by Vilson Blanco Dauinheimer - Caxias do sul - 25 de Outubro de 2005</a>
        </div>
    </nav>
</nav>