@{
    ViewBag.Title = "PetShow";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(".click").click(function()
    {
        alert("casa");
    });

</script>

<div style="padding:0px 20px 20px 20px;right:200px; top:200px;width:400px;height:250px; position:absolute;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);">
    @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post, null))
    {
        <div>
            <div style="height:30px;background-color:#a8a8a8;text-align:center;padding:5px;color:white;font-weight:bolder;margin-bottom:30px;border-radius:0 0 10px 10px">
                LOGIN
            </div>
            <div style="text-align:center;color:red;">@TempData["Erro"]</div>
            <div>
                <label>Username</label>
            </div>
            <div style="display: inline-block;cursor: pointer;position: relative; margin-bottom: 7pt;">
                <input type="text" placeholder="Username" style="width:270px" />
            </div>
            <div>
                <label>Senha</label>
            </div>
            <div>
                <input type="password" placeholder="Password"/>
            </div>

            <a style="text-decoration:none;cursor:pointer;">
                <div style="margin-top:10px;border:0px solid #c1bdbd;background-color:#c1bdbd;width:150px;margin:20px auto auto auto" onclick="alert('Senha ou Username incorretos. Favor entrar em contato com a TI.')">
                    <img src="~/Images/key.png" width="35" height="35" />
                    <span style="font-weight:bolder">Entrar</span>
                </div>
            </a>


        </div>
    }
</div>

